

*,
*::before,
*::after {
  box-sizing: inherit;

}

html {
  box-sizing: border-box;

}

body {
  font-family: 'PT Sans', sans-serif;
  text-transform: uppercase; /* вроде все прописные на сайте... */
  background-color: grey;

}
/*
 при добавлении форматирования верхний логотип на страничке hotels.html
начал странно себя вести как ссылка (клиакабельна не вся картинка а лишь небольшой кусочек) */

.main-header {
  width: 1200px;
  background-color: white;

}

.site-navigation {
  display: flex;
  width: 1200px;
  height: 56px; /* указать верное значение */
  margin-top: -70px; /* указать верное значение */

}

.main-header-logo img {
  display: block;
  margin: auto;

}

a {
   text-decoration: none;
}

.site-navigation a:visited {
color: rgb(0,0,0);    /* правильно ли выбран селектор, или надо для всех ссылок?*/

}

.main-header-logo a {
  display: block;

}

.site-navigation li {
  width: 20%;
  text-align: center;
  list-style-type: none;
  padding-top: 14px; /* размер блока 56 делить на 2 минус 14 шрифт */
  font-weight: bold;
  text-align: center;
  font-size: 14px;
  line-height: 26px;
  color: rgb(0,0,0);
}

.site-navigation li:nth-child(2) {
  margin-right: auto;

}

.welcome-img {
  position: relative;
  width: 1200px;
  height: 773px;
  background: url("../img/sedona-welcome.png") no-repeat;
  margin-top: -70px; /* указать верное значение, почему если -70 - просвечивает вверху?*/
  z-index: -1;  /* правильно ли так? */

}

.welcome-txt {
  width: 1200px;  /* позже указать верное значение 1200 сделано для того, что-бы видеть, что вылазит блок ниже*/
  height: 150px; /* указать верное значение */
  margin-top: -150px;
  text-align: center;

}

.welcome-txt p {
  font-size: 21px;
  line-height: 26px;
  color: rgb(0,0,0);
  font-weight: bold;
  text-align: center;

}

.welcome-txt h2 {
  font-size: 14px;
  line-height: 26px;
  color: rgb(51,51,51);
  text-align: center;
  font-weight: normal;

}

.features {
  display: flex;
  width: 1200px;

}

.features-blue {

  background: lightblue url("../img/town.jpg") no-repeat; /* указать верное значение */
  background-position: right;

}

.features-gray {

  background-color: lightgrey; /* указать верное значение */

}

.features-item {
  display: block;
  width: 400px;  /* позже указать верное значение  */
  vertical-align: top;
  text-align: center;

}

.features-town {
  /*  position: absolute; */

}

.housing-meal-souvenirs {
display: flex;

}

.visually-hidden {
	position: absolute; /* уточнить, нужен ли тут импортант */
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
	padding:0;
	border:0;
	height: 1px;
	width: 1px;
	overflow: hidden;

}
