

body {
  width: 1210px; /* если 1200 - выпадают блоков справа */
  font-family: 'PT Sans', sans-serif;
  text-transform: uppercase; /* вроде все прописные на сайте... */
}
/* печему теряются стили из "body"  при переходе на страничку hotels.html?
upd: уже не теряется - его просто надо было тоже подключить на эту страничку ))
---
p.s.  при добавлении форматирования верхний логотип на страничке hotels.html
начал странно себя вести как ссылка (клиакабельна не вся картинка а лишь небольшой кусочек) */


.main-header {
width: 1200px;
background-color: white;

}

.main-header-logo img {
  display: block;
  margin: auto;

}

.site-navigation {
  width: 1200px;
  height: 50px; /* указать верное значение */
  margin-top: -70px; /* указать верное значение */

}

.site-navigation li {
  display:inline;

}

.welcome {
  position: relative;
  width: 1200px;
  height: 773px;
  background: url("../img/sedona-welcome.jpg") no-repeat;
  margin-top: -66px; /* указать верное значение, почему если -70 - просвечивает вверху?*/
  z-index: -1;  /* правильно ли так? */

}

.welcome-img {
  display: block;
  padding-top: 100px; /* указать верное значение */
  margin: auto;
}

.welcome-bottom {
  position: absolute;
  bottom: 150px; /* указать верное значение */
  margin: auto;

}

.welcome-txt {
  position: absolute;
  width: 1150px;  /* позже указать верное значение 1200 сделано для того, что-бы видеть, что вылазит блок ниже*/
  height: 150px; /* указать верное значение */
  bottom: 0;
  background-color: white;

}

.features {
  position: relative;


}

.features-blue {
  display: block;
  width: 1210px; /* указать верное значение, если 1200 - не влазит, надо как-то обнулить... */
  background-color: lightblue; /* указать верное значение */
  

}

.features-gray {
  display: block;
  width: 1220px; /* указать верное значение */
  background-color: lightgrey; /* указать верное значение */

}

.features-item {
  display: inline-block;
  width: 400px;  /* позже указать верное значение  */
  vertical-align: top;
  text-align: center;

}

.features-town {
  /*  position: absolute; */

}

.housing-meal-souvenirs {
  display: inline-block;

}

.visually-hidden {
	position: absolute !important; /* уточнить, нужен ли тут импортант */
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
	padding:0 !important;
	border:0 !important;
	height: 1px !important;
	width: 1px !important;
	overflow: hidden;
}
